/*Esta es la configuración base */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: #FDFBF8;
    font-family: DM Sans, sans-serif;
}

.btn-contacto-pers {
    background-color: #4B0F2C;
    color: #FDFBF8;
}

.btn-contacto-pers:hover {
    background-color: #6B1F3A;
    color: #FDFBF8;
    outline: 2px solid #6B1F3A;
}

/*Estilos Navbar*/

.navbar-personal {
    --bs-navbar-color: #3E3A46;
    /* pizarra para los links */
    --bs-navbar-hover-color: #4B0F2C;
    /* vino al pasar el mouse */
    --bs-navbar-active-color: #4B0F2C;
    /* vino para el link activo */
    --bs-navbar-brand-color: #111;
    /* Color del logo */
    --bs-navbar-brand-font-size: 1.25rem;
    /* Logo más grande */
    --bs-navbar-padding-y: 1.2rem;
    /* Navbar más alto */
    --bs-navbar-position: fixed;
    background-color: #FDFBF8;
}

.navbar-luna .navbar-toggler-icon {
    filter: brightness(0) saturate(100%) invert(65%) sepia(30%) saturate(515%) hue-rotate(3deg) brightness(97%) contrast(88%);
}

.nav-name {
    font-family: 'Playfair Display', serif;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--negro);
    letter-spacing: -0.02em;
}

.nav-name span {
    color: #6B1F3A;
}

/*Estilos Hero*/

header {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.hero-name {
    font-family: 'Playfair Display', serif;
    color: #212529;
}

.hero-name em {
    color: #6B1F3A;
}

/* CV+Portafolio*/
.cv_portafolio {
    padding: 4rem;
    background-color: #D9CFC0;
}


.card-cv {
    background-color: #1B3A4B;
    color: #FDFBF8;
}

.card-cv h5 {
    font-family: 'Playfair Display', serif;
}

.card-portafolio {
    background-color: #4B0F2C;
    color: #FDFBF8;
}

.card-portafolio h5 {
    font-family: 'Playfair Display', serif;
}

.btn-portafolio-pers {
    background-color: #6B1F3A;
    color: #FDFBF8;
    border: solid 1px #FDFBF8;
}


.btn-cv-pers {
    background-color: #2A5065;
    color: #FDFBF8;
    border: solid 1px #FDFBF8;
}

.btn-cv-pers:hover {
    background-color: #2A5065;
    color: #FDFBF8;
    outline: 2px solid #FDFBF8;
    opacity: 50%;
}

/*About me*/

.about_me {
    color: #3E3A46;
}

.perfil-contenedor {
    height: 600px; 
    overflow: hidden; 
    display: flex;
    justify-content: center; 
}

.perfil-contenedor img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}


/*Estilos Footer*/

footer {
    background-color: #4905f4;
    color: #FDFBF8;
    padding: 3rem 5%;
}

.footer-name {
    display: flex;
    align-items: baseline;
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -0.03em;
}

.footer-name span {
    color: #6B1F3A;
    font-size: 1.8rem;
    font-weight: 600;
}

.footer-description {
    color: rgba(255, 255, 255, 0.45);
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1.75;
}

footer span {
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.25);
}

.footer-contact {
    font-family: 'Playfair Display', serif;
}

footer em {
    color: #6B1F3A;
}

.footer-input {
    background-color: #111;
    color: rgba(255, 255, 255, 0.25);
    border: 1px solid #444;
}

.form-control:focus {
    background-color: #1a1a1a;
    color: white;
    border-color: #6B1F3A;
    box-shadow: 0 0 0 0.25rem rgba(107, 31, 58, 0.25);
}

.form-control::placeholder {
    color: #bbb;
    opacity: 1;
}